/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap");

/* CSS Variables */
:root {
    --primary-font: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --secondary-font: "Macondo";
    --primary-color: #ebd5a4; /* light brown */
    --secondary-color: #c29765; /* twine */
    --highlight-color: #d9bb77; /* harvest gold*/
    --highlight-color-dark: #441f05; /* dark ebony */
}

/* Global styles */

body {
    font-family: var(--primary-font);
    /* Pushes the top of the header down under fixed navbar */
    padding-top: 57.15px;
    background-color: var(--primary-color);
}

/* Navbar */
#navbar {
    background-color: var(--secondary-color);
}

.section {
    padding-top: 4rem; /* Prevent navbar overlap */
}

#nav-button {
    font-family: var(--primary-font);
    border: 2px solid white;
    color: white;
}

#header-button {
    font-family: var(--primary-font);
    border: 2px solid black;
    color: black;
}

h1 {
    font-family: var(--primary-font);
    color: black;
}
